
  
  .contact .leftSide {
    height: 45%;
    flex: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
  .contact .leftSide1 {
    height: 40%;
    margin-top: 19rem;
    margin-left: -19%;
    flex: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contact .leftSide2 {
    height: 40%;
    margin-top: 19rem;
    margin-left: 3%;
    flex: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contact .leftSide3 {
    height: 40%;
    margin-top: 19rem;
    flex: 50%;
    margin-left: 3%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contact .leftSide4 {
    height: 40%;
    margin-top: 19rem;
    flex: 50%;
    margin-left: 3%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
 
  
 
  
  
  
  
 
  
  
  
 
  